<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>base</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
   
</head>
<body class="body">
  <nav>
    <body>
        <ul>
          <li>
            <a href="#default" class="logo">CompanyLogo</a>
          </li>
          <li>
            <a class="header-op" href="#home">Home</a>
          </li>
          <li>
            
          </li>
        </ul>
          
          <a href="#contact">Contact</a>
          <a href="#about">About</a>
        </body>
  </nav>
   
   {% block content %}
   
   {% endblock %}
   {% block table %}
   {% endblock %}
  
</body>
</html>